body {
  background-color:  #FFFBE9;
}

h1 {
  color: #66bFBF;
}

h3 {
  color: #66BFBF;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;

  width: 30%;
  height: 0px;
}
